@tailwind base;
@tailwind components;
@tailwind utilities;


.btn {
  @apply rounded-xl bg-emerald-50 px-2.5 py-1.5 text-base font-semibold text-emerald-900 shadow-sm hover:bg-emerald-200 transition ease-out duration-300;
}


/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #d1d5db #f0f0f0;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #f0f0f0;
}

*::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  border-radius: 10px;
  border: 2px solid #ffffff;
}
