@tailwind base;
@tailwind components;
@tailwind utilities;


.btn {
  @apply px-8 py-2 text-2xl font-extrabold transition duration-300 ease-out border shadow-sm rounded-btn text-brown hover:text-brown-hover border-brown hover:border-brown-hover;
}

.btn-white {
  @apply bg-white btn;
}

.btn-yellow {
  @apply btn bg-amber-100;
}

.btn-green {
  @apply bg-green btn;
}


.title {
  @apply font-extrabold text-title/10;
}

.subtitle {
  @apply text-xl font-extrabold;
}

.text {
  @apply text-brown;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #d1d5db #f0f0f0;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #f0f0f0;
}

*::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  border-radius: 10px;
  border: 2px solid #ffffff;
}
